<persistence version="2.0"
             xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="qlogistic" transaction-type="RESOURCE_LOCAL">
        <class>ru.qlogistic.logic.model.User</class>
        <class>ru.qlogistic.logic.model.Order</class>
        <class>ru.qlogistic.logic.model.Photo</class>
        <class>ru.qlogistic.logic.model.Role</class>
    </persistence-unit>
</persistence>